* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100vw;
  height: 100vh;
  background-image: url(/image/pilgrimagePage/actors.svg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
#main > div:nth-child(1) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main > div:nth-child(1) > h1 {
  letter-spacing: 4px;
  transform: scale(6, 11);
  color: #BA3737;
}

#background {
  width: 100vw;
  background-color: #2D2D2D;
  position: relative;
  z-index: 0;
}
#background nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D2D2D;
  position: fixed;
  z-index: 10;
  top: -4vh;
  opacity: 0;
}
#background nav > ul {
  width: 100vw;
  height: 15vh;
  background-color: #373737;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#background nav > ul > li {
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 5px;
  transform: scale(2, 4);
}
#background #actorTextBox {
  width: 20vw;
  height: 80vh;
  position: absolute;
  top: 100vh;
  left: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#background #actorTextBox > div:nth-child(1) {
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background #actorTextBox > div:nth-child(1) > span {
  color: #BA3737;
  transform: scale(6, 10);
  font-weight: 1000;
}
#background #actorTextBox > div:nth-child(2) {
  width: 20vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#background #actorTextBox > div:nth-child(2) > span {
  height: 5vh;
  transform: scale(2, 4);
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
}
#background #pilgrimage_pageTwo {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#background #pilgrimage_pageTwo > div:nth-child(1) {
  width: 70vw;
  height: 150vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
#background #pilgrimage_pageTwo > div:nth-child(1) > div:nth-child(2) {
  width: 45vw;
  color: #fff;
  font-size: 0.8rem;
  line-height: 30px;
  text-align: justify;
}
#background #indiText {
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background #indiText > span {
  transform: scale(12.5, 25);
  color: #fff;
  font-weight: 1000;
}
#background #newsText {
  width: 100vw;
  height: 35vh;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#background #newsText > span {
  margin-left: 15vw;
  transform: scale(12.5, 25);
  color: #BA3737;
  font-weight: 1000;
}
#background #newContainer {
  width: 100vw;
  height: 70vh;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#background #newContainer > div {
  width: 90vw;
  height: 15vh;
  background-color: #595959;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
#background #newContainer > div > p {
  margin-left: 2vw;
  letter-spacing: 2px;
}
#background > div:nth-child(8) {
  position: absolute;
  z-index: 0;
  top: 360vh;
  left: 10vw;
}
#background > div:nth-child(9) {
  position: absolute;
  z-index: 0;
  left: 56vw;
  top: 441.7vh;
  color: #BA3737;
  transform: scale(10, 13);
  font-weight: 800;
}
#background #pilgrimage_rising {
  width: 100vw;
  height: 130vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
#background #pilgrimage_rising > div:nth-child(1) {
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#background #pilgrimage_rising > div:nth-child(1) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#background #pilgrimage_rising > div:nth-child(1) > div > p {
  height: 7vh;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
}/*# sourceMappingURL=pilgrimage-navigation-function.css.map */