*{margin: 0; padding: 0; box-sizing: border-box;};


@mixin flexCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


.colorName {
  width: 15vw;
  height: 15vh;
  @include flexCenter(flex-start, center);
  // transform: scale(1.5, 1.5);
  font-weight: 1000;
  font-size: 3rem;
  // color: #fff;
  mix-blend-mode: overlay;
}

.colorDescription {
  width: 36vw;
  height: 2vh;
  @include flexCenter(flex-end, center);
  font-weight: 600;
  mix-blend-mode: overlay;
}

body{
  overflow-x: hidden;
}

#hanbok_legacy {
  width: 100vw;
  overflow: hidden;
  background-color: #252525;
  // @include flexCenter(center, center);
  // position: relative;

  &>div:nth-child(1) {
    width: 78vw;
    height: 20vh;
    // border: 1px solid red;
    color: #fff;
    @include flexCenter(center, center);

    &>p {
      width: 70vw;
      // height: 15vh;
      @include flexCenter(flex-end, center);
      font-weight: 500;
      // transform: scale(8,8);
      font-size: 8rem;
      letter-spacing: 1.5px;
    }
  }

  &>div:nth-child(2) {
    width: 100vw;
    height: 100vh;
    display: flex;

    #legacyMainContainer{
      width: 60vw;
      height: 70vh;
      @include flexCenter(flex-end, center);
      // border: 1px solid red;
      position: relative;
      overflow: hidden;

          &>ul{
            width: 245vw;
            height: 723px;
            position: absolute;
            left: 0;
            top: 0;
            // border: 1px solid red;
            /* margin : 50px; */
            overflow: hidden;
            transition: 0.5 ease-out;

            display: flex;
            // border: 1px salmon;

            &>li{
              width: 30vw;
              // height: 723px;
              margin-right: 50px;
            }
      }
    }

    &>div:nth-child(2) {
      width: 30vw;
      height: 70vh;
      @include flexCenter(center, center);
      font-weight: 400;
      color: #fff;
      flex-direction: column;

      &>div:nth-child(1) {
        width: 20vw;
        height: 10vh;
        @include flexCenter(center, center);
        // border: 1px solid blue;
        font-size: 16px;
        line-height: 45px;
        // border: 1px solid red;

      }

      &>div:nth-child(2) {
        width: 22vw;
        height: 70vh;
        font-size: 12px;
        line-height: 35px;
        // letter-spacing: 1px;
        text-align: justify;


        @include flexCenter(center, center);
        // border: 1px solid blue;
      }

      #legacyMain_nav {
        width: 22vw;
        height: 10vh;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        @include flexCenter(flex-start, center);

        &>div:nth-child(1) {
          width: 10vw;
          height: 10vh;
          @include flexCenter(center, flex-start);
          flex-direction: column;

          &>div:nth-child(1) {
            cursor:default;
            width: 5vw;
            height: 5vh;
            @include flexCenter(flex-start, center);
          }

          &>div:nth-child(2) {
            cursor:default;
            width: 5vw;
            height: 5vh;
            @include flexCenter(flex-end, center);
          }
        }
      }
    }
  }

  #hanbok_legacy_slide {
    width: 640vw;
    background-color: #252525;
    opacity: 0;
    &>div:nth-child(1) {
      width: 600vw;
      height: 55vh;
      display: flex;
      overflow: hidden;
      &>div {
        // height: 60vh;
        margin-left: 10px;
        overflow: hidden;
      }
    }
  }


#legacy_des{
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
  // opacity: 0;
  @include flexCenter(flex-start, center);
  // background-color: #ccc;
&>div:nth-child(1){
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;

  &>div:nth-child(1){
    width: 50vw;
    height: 10vh;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 6px;
  @include flexCenter(center, center);
  }

  &>div:nth-child(2){
    width: 50vw;
    height: 40vh;

    @include flexCenter(center, center);
    // border: 1px solid red;

    &>div:nth-child(1){
      width: 42vw;
      height: 20vh;
    @include flexCenter(center, center);
    font-size: 0.8rem;
    // border: 1px solid red;
    color: #fff;
    font-weight: 300;
    flex-direction: column;
    line-height: 35px;
    }
  }
}

  &>div:nth-child(2){
    width: 40vw;
    height: 70vh;
    @include flexCenter(center, center);

  }
}



  #hanbok_legacy_lastpage {
    width: 100vw;
    // height: 200vh;
    @include flexCenter(center, center);
    flex-direction: column;

    &>div:nth-child(1) {
      width: 80vw;
      // height: 100vh;
      // border: 1px solid red;
      display: flex;

      &>div:nth-child(1) {
        width: 40vw;
        height: 100vh;
        @include flexCenter(center, center);
        flex-direction: column;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;

        &>div:nth-child(1) {
          width: 25vw;
          // height: 56vh;
          // background-color: #ccc;
        }

        &>p {
          width: 25vw;
          height: 5vh;
          opacity: 0;
        }
      }

      &>div:nth-child(2) {
        width: 40vw;
        height: 100vh;
        @include flexCenter(flex-end, center);
        flex-direction: column;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;

        &>div:nth-child(1) {
          width: 25vw;
          // height: 60vh;
          // background-color: #ccc;
        }

        &>p {
          width: 25vw;
          opacity: 0;

        }
      }
    }

    &>div:nth-child(2) {
      width: 100vw;
      height: 70vh;
      display: flex;
      @include flexCenter(flex-start, center);
      // border: 1px solid blue;

      &>div:nth-child(1) {
        width: 50vw;
        height: 60vh;
        @include flexCenter(center, center);
        // border: 1px solid red;
        &>div:nth-child(1) {
          // width: 50vw;
        margin-left: 5vw;

          // height: 50vh;
          // background-color: #ccc;
        }
      }

      &>div:nth-child(2) {
        width: 40vw;
        height: 60vh;
        // background-color: #245441;
        @include flexCenter(flex-start, flex-end);
        // border: 1px solid red;

        &>div:nth-child(1) {
          width: 25vw;
          height: 13vh;
          // border: 1px solid red;
          @include flexCenter(flex-start, flex-start);
          // opacity: 0;

          font-weight: 700;
          color: #fff;
          font-size: 2rem;

          &>p {
            width: 25vw;
            opacity: 0;
  
          }
        }
      }
    }
  }
}